# Intent configuration
intent/.config/cache/
intent/.config/backup/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*~
.vscode/
.idea/

# Elixir
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
riffle-*.tar
/tmp/
.elixir_ls/
.elixir-tools/
